$footer-logo-height: $baseline * 10;
$footer-logo-height-mobile: $footer-logo-height * 0.75;

footer{
  width:100%;
  background-color: lighten($lightblue, 22%);
  min-height:100px;
  padding:$baseline * 4;
  @include breakpoint($laptop){
    min-height:100px;
    padding:$baseline *7 $baseline *10 $baseline $baseline *10;
  }
}
.footer__grid{
  @include outer-container($grid-max-width);

  .row{
    margin-bottom: $baseline * 3;
  }
}
.footer__links{
  @include fill-parent;
  @include clearfix;
  padding-top:$baseline * 2;
  @include breakpoint($tablet){
    @include span-columns(8);
  }
  @include breakpoint($laptop){
    @include span-columns(6);
  }

  &__title{
    @include fill-parent;
    text-align: center;
    color:$lightblue;
    font-size: 20px;
    line-height: $baseline * 4;
    font-weight: $body-light;
    margin-bottom:$baseline * 2;
    @include breakpoint($tablet){
      font-size: 22px;
    }
    @include breakpoint($laptop){
      font-size: 24px;
      line-height: $baseline * 6;
      height:$footer-logo-height;
      margin-bottom: 0;
      text-align: left;
    }
  }

  &__list{
    list-style: none;
    padding:0;

    &__item{

      &__icon{
        display:inline-block;
        max-width: $baseline * 7;
        max-height: $baseline * 7;

        img{
          width:100%;
        }
      }
      &__label{
        display:inline-block;
        vertical-align: bottom;
        height: $baseline * 7;
      }

      a{
        font-size: 18px;
        line-height: $baseline * 4;
        font-weight: $body-light;
        color:$medblue;
        border-bottom: none;
      }
    }
  }
  &__list--left,
  &__list--right{
    @extend .footer__links__list;
    width:55%;
    margin:0 auto;
    text-align: left;
    @include breakpoint($laptop){
      @include span-columns(3 of 6);
      text-align: left;
      max-width: 203px;
    }
  }
}
.footer__contact{
  @include clearfix;
  @include fill-parent;
  @include breakpoint($tablet){
    @include span-columns(10);
  }
  @include breakpoint($laptop){
    @include span-columns(12);
  }

  &__logo{
    @include clearfix;
    @include fill-parent;
    margin-bottom: $baseline;
    @include breakpoint($laptop){
      @include span-columns(4.5 of 9);
      margin-bottom: $baseline * 2;
    }


    .logo-link{
      @include clearfix;
      border-bottom: none;
      display:inline-block;
      height:$footer-logo-height-mobile;
      @include breakpoint($laptop){
        height:$footer-logo-height;
      }
    }
    .logo{
      fill:$simpplerblue;
      height: $footer-logo-height-mobile;
      @include breakpoint($laptop){
        height: $footer-logo-height;
      }
    }
  }
  &__cta{
    @include fill-parent;
    text-align: center;

    @include breakpoint($tablet){
      text-align: left;
    }
    @include breakpoint($laptop){

      @include span-columns(9 of 9);
    }

    p{
      text-align: left;
    }
  }
  .button--standout{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.8px;
    padding:$baseline;
    display:inline-block;
    margin-bottom:$baseline * 4;
    @include breakpoint($laptop){
      margin-bottom:$baseline;
    }
  }
}
.footer__nav{
  @include span-columns(18);
  @include clearfix;
  border-top: 1px solid $simpplerblue;
  padding-top:$baseline * 2;

  &__links{
    list-style: none;

    &__item{
      display:inline-block;
      margin-right:24px;
      font-size:14px;
      line-height: $baseline * 3;
      color:$simpplerblue;

      &:before{
        content: '';
        width:0;
        height:0;
        margin-right:0;
      }
      a{

        border-bottom: none;
      }
    }
  }
}
