.home-cta-button{
  @extend .grid;
  @include clearfix;
  padding: ($baseline * 8) 0;
  &__button{
    @include span-columns(6);
    @include shift(2);
    // padding-top:$baseline * 5;
    text-align: center;

    .button--homeCTA{
      @extend .button--standout;
      width:60%;
      padding:($baseline * 2);
      font-size: 20px;
      border-width:3px;
      line-height: $baseline * 6;
    }
  }
  &__copy{
    @include span-columns(9);

    @include clearfix;
    p{
      font-size: 20px;
      font-weight: $body-light;
      letter-spacing: 0.8px;
      line-height: $baseline * 5;

      // @include span-columns(8 of 11);
      // @include shift(5 of 18);
    }
  }


}
