.logo-list{
  @extend .grid;
  @include clearfix;

  margin-bottom: $baseline * 3;
  &__title{
      @include span-columns(14);
      @include shift(2);
  }

  &__text{
    @include span-columns(9);
    @include shift(2);
    @include clearfix;

    p{
      margin: 0 auto;
    }
  }

  &__logos{
    @include span-columns(18);
    @include clearfix;
    text-align: center;

    &__list{
      @extend .button-list;


      &__item{
        @extend .button-list__item;
        padding:$baseline;
        max-height:200px;
        width:200px;
        overflow: hidden;

        img{
          width:100%;
        }
      }
    }
  }
}
