$logo-list-item-height: $baseline * 33;
.logo-list{
  @extend .grid;
  @include clearfix;

  margin-bottom: $baseline * 3;
  &__title{
      @include fill-parent;
  }

  &__text{
    @include clearfix;
    @include fill-parent;
    margin-bottom:$baseline * 3;
    // @include breakpoint($laptop){
    //   @include span-columns(9);
    // }
    p{
      margin: 0 auto;
      @include breakpoint($laptop){
          margin:0;
      }
    }
  }

  &__logos{
    @include span-columns(18);
    @include clearfix;
    text-align: center;

    &__list{
      @extend .button-list;


      &__item{
        @extend .button-list__item;
        padding:$baseline;
        max-height:$logo-list-item-height;
        width:$logo-list-item-height;
        overflow: hidden;

        img{
          width:100%;
        }
      }
    }
  }
}
