$nav-height: $baseline * 7;
$nav-logo-height: $nav-height;
$nav-logo-height-mobile: $nav-height * 0.75;
$nav-link-hover: transparentize(white, .12);

//pinning styles
nav.pinned{
  // transition: all 0.3s ease-in;
  @include breakpoint($laptop){
    position:fixed;
    margin: 0 auto;

    .main-nav{
      margin:0 auto;
    }
  }
}

div.pinned-nav{
  // transition: all 0.1s linear;
  @include breakpoint($laptop){
    padding-top: $baseline * 18;
  }
  @include breakpoint($big-screen){
    padding-top: $baseline * 20;
  }
}
//small mobile styles
.nav-bar{
  width:100%;
  position:fixed;
  @include breakpoint($tablet){
    margin-bottom: $baseline * 4;
  }
  @include breakpoint($laptop){
    position:static;
    margin-bottom: $baseline * 2;
  }

}
.main-nav{
  width:100%;
  max-width: $grid-max-width;
  display:flex;
  min-height:$nav-height;
  background-color: $simpplerblue;
  padding:($baseline * 2) ($baseline * 4);
  margin: 0 auto 0 auto;
  @include breakpoint($laptop){
    width:90%;
    margin: ($baseline * 4) auto ($baseline * 2) auto;
  }
  @include breakpoint($big-screen){
    margin: ($baseline * 4) auto ($baseline * 5) auto;
  }
  &__mobile-dropdown{
    display:flex;
    order:2;
    flex-grow: 2;
    padding-left: 6px;
    @include breakpoint($tablet){
      display:none;
    }
    &::after{
      content: url("../img/single-arrow-down-nobg-light.svg");
      display:inline-block;
      position:relative;
      width:16px;
      max-width: 16px;
      // left: 58px;
      // top: 4px;
      // left:139px;
      // top:-21px;
      order:2;
      flex-grow:1;
      top:9px;
      left:-7px;
    }

    &__button{
      order:1;
      flex-grow:6;
      padding:$baseline 0 0 10px;
      margin:0;
      cursor: pointer;
      min-width: 140px;
      // width:100%;
      font-size: rem(14px);

      border-bottom: 1px dotted $lightblue;
      color:lighten($lightblue, 15%);
      font-weight: $body-bold;


    }
  }
  &__logo-container{
    text-align:left;
    order: 1;
    flex-grow: 1;
    // was getting an extra 6px from someplace,line-height maybe?? Couldn't find where but this fixed it;
    height:$nav-logo-height-mobile;
    @include breakpoint($laptop){
      height:$nav-logo-height; // was getting an extra 6px from someplace,line-height maybe?? Couldn't find where but this fixed it;

    }

  .logo-link{
    display:inline-block;
    border-bottom: none;
  }
  .logo{
      height:$nav-logo-height-mobile;
      fill:$lightblue;
      &:hover{
        fill:$nav-link-hover
      }
      @include breakpoint($laptop){
        height:$nav-logo-height;
      }
    }
  }

  &__nav-items{
    display:none;
    @include breakpoint($tablet){
      display: block;
      padding: (($nav-logo-height-mobile/2) - ($body-type-leading/2)) 0 0 18px;
      height: $nav-logo-height;
      list-style: none;
      text-align:left;
      order:2;
      flex-grow: 2;
      margin:0;
    }
    @include breakpoint($laptop){
      display: block;
      padding: (($nav-logo-height/2) - ($body-type-leading/2)) 0 0 0;
      height: $nav-logo-height;
      list-style: none;
      text-align:left;
      order:2;
      flex-grow: 2;
      margin:0;
    }
    &__item{
      display:inline-block;
      padding-right:11px;
      @include breakpoint($laptop){
        display:inline-block;
        padding-right:18px;
      }

      a{
        border-bottom: none;
        font-weight: $body-light;
        font-size: 16px;
        color:lighten($lightblue, 10%);
        line-height: $body-type-leading;
        @include breakpoint($laptop){
          font-size: 18px;
          line-height: $body-type-leading;
        }
        &:hover{
          color:$nav-link-hover;
        }
      }
    }
  }
  &__action-container{
    display:none;
    @include breakpoint($tablet){
      display:block;
      text-align: right;
      height:$nav-logo-height-mobile;
      order:3;
      flex-grow: 1;
    }
    @include breakpoint($laptop){
      height:$nav-logo-height;
    }

    .button-list{
      margin-bottom:0;
      height:$nav-logo-height-mobile;
      // button height = border width + $button-type-leading + $baseline
      $button-height: 2px + $button-type-leading + $baseline;
      padding: (($nav-logo-height-mobile/2) - ($button-height/2)) 0 0 0;
      @include breakpoint($laptop){
        height:$nav-logo-height;
        // button height = border width + $button-type-leading + $baseline
        $button-height: 2px + $button-type-leading + $baseline;
        padding: (($nav-logo-height/2) - ($button-height/2)) 0 0 0;
      }


      &__item{
        margin-bottom:0;

        .button{
          margin-bottom:0;
        }
      }
    }
  }
}
.mobile-nav-menu{
  display:none;
  position:relative;;
  width:100%;
  background-color: lighten($lightblue,20%);
  top:0;
  padding:($baseline * 2) 20px $baseline 20px;
  text-align: right;

  .mobile-nav-menu__item{
    padding:0;
    a{
      color: $medblue;
      border-bottom: none;
      display: block;
      font-size: 18px;
      min-height: $baseline * 7;
    }
    &--cta a{
      color:$green;
      border-bottom: none;
      display: block;
      font-size: 18px;
      min-height: $baseline * 7;
    }
  }
  .mobile-nav-menu__spacer{
    border-top: none;
    border-bottom: 1px solid $simpplerblue;
    margin: $baseline*3 0;
  }
}
.show-menu {
  display: block !important;
}
