$tier-width:5;
$tier-offset:1.5;

.price-compare{
  @extend .grid;
  @include clearfix;
  margin-bottom: $baseline * 4;

  &__tiers{
    @include span-columns(18);
    @include clearfix;
    @extend .row;

    &__tier{
      @include span-columns($tier-width);
      @include clearfix;
      //border: 1px solid $simpplerblue;

      &__title-section{
        padding: $baseline * 3;
        min-height: $baseline * 15;
        background: $simpplerblue-dots;
      }
      &__title{
        @extend .text-background-header;
        font-size: 30px;
        line-height: $baseline * 6;
        letter-spacing: 0.4px;
        color:$medblue;
        margin: $baseline 0;
        padding:$baseline;
      }
      &__details-section{
        @include clearfix;
        padding:$baseline * 3;
      }
      &__price{
        font-size: 18px;
      }
      &__tag{
        margin-bottom:$baseline * 3;
      }
      &__cta{
        @extend .button--secondary;
        font-size: 18px;
        margin: 0 0 ($baseline * 3) 0;
        padding: $baseline;
        @include span-columns($tier-width of $tier-width);

      }
      &:first-of-type{
        @include span-columns($tier-width);
        @include shift($tier-offset);
        @include clearfix;
      }
      .price-amount{
        font-size: 56px;
        line-height: $baseline * 10;
        font-weight: $body-bold;
      }
      .dotgrid{
        background: $simpplerblue-dots;
        min-height: $baseline * 6;
        padding: $baseline * 2.5 5px $baseline/2 5px;
      }
    }

  }

  &__bottoms{
    @include span-columns(18);
    @include clearfix;
    @extend .row;

    &__bottom{
      @include span-columns($tier-width);
      // background: $simpplerblue-dots;
      border-bottom:$baseline*3 solid $simpplerblue;
      min-height: $baseline * 5;

      &:first-of-type{
        @include span-columns($tier-width);
        @include shift($tier-offset);
      }
    }
  }
}
