$quote-card-height: $baseline * 36; //198px
.quote-grid{
  @extend .grid;

  &__quote{
    @include fill-parent;
    border-bottom: 6px solid $simpplerblue;
    border-top: 1px solid $simpplerblue;
    padding:$baseline * 2 $baseline * 4;
    margin-bottom:$baseline * 6;
    @include breakpoint($tablet){
        @include span-columns(14);
        @include shift(2);
    }
    @include breakpoint($laptop){
      margin-left:0; //clearing the shift(2) from the tablet style above
      @include span-columns(8);
      height:$quote-card-height;
      padding:$baseline * 4;
    }
    @include breakpoint($big-screen){
      @include span-columns(6.5);
    }
    &:nth-of-type(3n),
    &:first-of-type{
      @include breakpoint($laptop){
        @include shift(1);
      }
      @include breakpoint($big-screen){
        @include shift(2.5);
      }
    }


    p{
      font-size: 18px;
      font-weight: $body-light;
      line-height: $baseline * 5;
      font-style: italic;
      color:$simpplerblue;

      &:last-of-type{
        margin-bottom:0;
      }
    }

  }
  h2{
    @include fill-parent;
    margin-bottom: $baseline *3;
  }
}
