.story-w-img{
  @extend .grid;
  @include clearfix;
  margin-bottom: $baseline * 3;

  &__title{
      @include span-columns(14);
      @include shift(2);
  }
  &__img-container{
    @include span-columns(4);
    @include shift(3);
    padding-top: $baseline * 2;
    height:400px;
    overflow: hidden;
    img{
      width:100%;
      max-width: 400px;
    }
  }
  &__story{
    @include span-columns(10);
  }
}
