.story-w-img{
  @extend .grid;
  @include clearfix;
  margin-bottom: $baseline * 3;

  &__img-wrap{
    display:none;
    @include breakpoint($tablet){
      display:inline;
      max-height:$baseline * 50;
      float:left;
      clear:left;
      padding-right:20px;
    }
    @include breakpoint($big-screen){
      max-height: $baseline * 70;
      height: $baseline * 70;
    }
  }
  &__title{
    @include fill-parent;
  }
  &__img-container{
    @include fill-parent;
    @include breakpoint($tablet){
      display:none;
    }

    img{

      width:100%;
      margin:0 auto;
    }
  }

  &__story{
    @include fill-parent;

    blockquote{
      @include breakpoint($laptop){
        max-width: 800px;
        margin:0 auto;
      }
      @include breakpoint($big-screen){
        max-width: 1000px;
        margin:0 auto;
      }
      .quote-attribution{
        padding:0;
      }
      p {
        font-size: 17px;
        font-weight: $body-light;
        line-height: $baseline * 4;
        font-style: italic;
        color:$simpplerblue;
        @include breakpoint($laptop){
           max-width: 800px;
        }
        @include breakpoint($laptop){
           max-width: 1000px;
        }

        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
}
