 .tp-list{
  @extend .grid;
  @include clearfix;

  &__title{
    @include fill-parent;
  }
  &__intro{
    @include fill-parent;
    @include row;

    margin-bottom: $baseline * 3;
  }
  &__blurb{
    @include span-columns(9);
    @include shift(1);
     p{
       font-size: 20px;
       font-weight: $body-light;
       letter-spacing: 0.8px;
       line-height: $baseline * 5;
       max-width: 800px;
     }
  }

  &__item{
    @include span-columns(6);

    &__summary{
      font-size: 18px;
    }

  }
}
