 .tp-list{
  @extend .grid;
  @include clearfix;
  margin-bottom:$baseline * 3;

  &__title{
    @include fill-parent;
    margin-bottom: $baseline * 2;
  }
  &__intro{
    @include fill-parent;
    @include row;

    margin-bottom: $baseline * 3;
  }
  &__blurb{
    @include fill-parent;
    @include breakpoint($laptop){
      @include span-columns(14);
    }

     p{
       font-size: 20px;
       font-weight: $body-light;
       letter-spacing: 0.8px;
       line-height: $baseline * 5;
       max-width: 800px;
     }
  }

  &__item{
    @include fill-parent;
    @include breakpoint($tablet){
      @include span-columns(14);
      @include shift(2);
    }
    @include breakpoint($laptop){
      margin-left:0;// clear the shift() in the tablet style
      @include span-columns(6);
    }


    &__summary{
      font-size: 18px;
      line-height: $baseline * 4;
      margin-bottom:$baseline;
    }

  }
}
