@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";

// = Simppler base styles
// Everything else should be imported from a modular partial
//== Viewports
// these should encompass smaller screens like the pre6 iphone, current bigger screen mobile devices
// laptops and larger monitors.
$mobile-small: 320px; //this var will not ever be actually used it's just here as a reminder of the default style's viewport
$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$big-screen: 1440px;
$grid-max-width: 1600px;
$grid-columns: 18; //override the number of cols set by Neat
//== Colors - Simppler Palette
//=== primary blues
$drkblue:#101C2E; //rgba(16, 28, 46, 1)
$medblue:#123f88; //rgba(18, 63, 136, 1)
$lightblue:#90b4f0;//rgba(144, 180, 240, 1)
$simpplerblue:#1c71ff; // rgba(28, 113, 255, 1)   //primary color
//=== accent colors
$orange: #cc5702; // rgba(204, 87, 2, 1)
$purple:#5a4e99; // rgba(90, 78, 153, 1)
$lightgold:#ffb95b; // rgba(255, 185, 91, 1)
$green: #95CC02; // rgba(149, 204, 2, 1)

//== Typeography
//=== Typefaces
$header-face:'Francois One', sans-serif;
$body-face: 'Open Sans', sans-serif;

//=== Body face weights NOTE: make sure the weight is included in GoogleFonts link before use!
$body-light:300;
$body-bold:600;
$body-reg:400;

//=== baseline grid
// ALL vertical spacing (i.e. heights, min-heights, top and bottom padding and margins, top) should be in units
// of the baseline grid.
$baseline-grid-size: 6px;
$baseline: $baseline-grid-size; // a less verbose helper var. Why two? Readability.

//=== Standard type sizes
$body-type-size: 16px; //this must be in px to be the basis for all rems
$body-type-leading: $baseline-grid-size * 4;
$page-title-size: 40px;
$page-title-leading: $baseline-grid-size * 8;
$page-subtitle-size: 24px;
$page-subtitle-leading: $baseline-grid-size * 5;
$page-subsection-size: 14px;
$page-subsection-leading: $baseline-grid-size * 3;
$page-caption-text: 13px;
$page-caption-leading: $baseline-grid-size * 3;
$card-title-size: 26px;
$card-title-leading: $baseline-grid-size * 5;
$card-subtitle-size: 14px;
$card-subtitle-leading: $baseline-grid-size * 3;
$button-type-size: 14px;
$button-type-leading: $baseline-grid-size * 4;

//== Background images
//=== Dotscreen background images
// These don't require anything but the image to repeated as needed. Just set the background-image to the one you want
// and you're good to go.
$simpplerblue-dots: url(../img/simpblue_dot.png);
$lightblue-dots: url(../img/lightblue_dot.png);
$medblue-dots: url(../img/medblue_dot.png);
$drkblue-dots: url(../img/drkblue_dot.png);
$purple-dots: url(../img/purple_dot.png);
$orange-dots: url(../img/orange_dot.png);
$lightgold-dots: url(../img/lightgold_dot.png);
$green-dots: url(../img/green_dot.png);

//== Global Variables
// Technically all SASS variables are global, the vars defined here are used throughout the stylesheets
// any variable that is only used in a specific section is defined in that partial and should start with the name of
// the partial they live in. This namespacing scheme may be problematic later on,I guess we'll see.
$link-color: $lightgold;
$simppler-border-radius: 1px !default;
$dropdown-padding: rem(18px);
$transition-animation: 0.15s ease-in-out;
$table-border-padding: 12px;
$table-cell-padding: 6px;



//= Global Styles
*{
  box-sizing:border-box;
}

body{
  font-size:$body-type-size;
  font-family: $body-face;
  color:$medblue;
  line-height: $body-type-leading;
}
// in order to be able to do full-bleed BG colors, every section has to be it's own grid
// this should be over written as needed
.grid{
  @include outer-container($grid-max-width);//initialize the neat grid

  padding:0 $baseline*4;
  @include breakpoint($laptop){
      padding: ($baseline) ($baseline * 8) ($baseline) ($baseline * 8);
  }

}
.row{
  @include row;
}
section{
  @include clearfix;
  width:100%;
}
.color-bg{
  background-color:$simpplerblue;
}
.light-text{
  color:lighten($lightblue,14%);
}
.solid-rule{
  border:none;
  border-bottom:$baseline solid $simpplerblue;
}

.page-content{
  padding-top: $baseline * 9;
  @include breakpoint($tablet){
    padding-top:$baseline * 9;
  }
  @include breakpoint($laptop){
    padding-top:0;
  }
}

#nav-trigger{
  position:absolute;
  top:$baseline * 4;
}

//= Style guide elements
//== Page Title
h1,
.page-title{
  font-family:$header-face;
  color:$medblue;
  font-size: rem(($page-title-size - 2px)); // 38px
  line-height: $page-title-leading - $baseline; //42px
  margin:0 0 ($baseline * 2) 0;
  @include breakpoint($tablet){
    font-size: rem($page-title-size);
    line-height: $page-title-leading;
    margin:0 0 ($baseline) 0;
  }
}

//== Page subtitle
h2,
.page-subtitle{
  font-weight: $body-light;
  color:$lightblue;
  font-size: rem(($page-subtitle-size - 6px));//18px
  line-height: $page-subtitle-leading - $baseline; //24px
  margin:0 0 ($baseline * 2) 0;
  @include breakpoint($tablet){
    font-size: $page-subtitle-size;
    line-height: $page-subtitle-leading;
  }

}

//== Page subsection
// This is the lowest level of hierarchy we will use. covering all h4-h6 because the editor includes those h-levels
// and I don't want them to stray off style if someone accidentally uses them
h3,h4,h5,h6
.page-subsection{
  //font-weight: $body-bold;
  font-family: $header-face;
  font-size: $page-subsection-size;
  line-height: $page-subsection-leading;
  margin:0 0 ($baseline-grid-size * 3) 0;
}

//== card title
.card-title{
  font-family:$header-face;
  font-size: $card-title-size;
  line-height: $card-title-leading;
  color:$medblue;
  margin:0 0 ($baseline-grid-size) 0;
}
//== card subtitle
.card-subtitle{
  font-size: $card-subtitle-size;
  line-height: $card-subtitle-leading;
  color:$medblue;
  margin:0 0 ($baseline-grid-size) 0;
}
//== Bold text
.bold-text{
  font-weight: $body-bold;
  font-style: normal;
}
strong{
  @extend .bold-text;
}
//== Text background to be used on $header-face type when floating them over a dotscreen
.text-background-header{
  background-color: white;
}
//== Text background to be used on $body-face type when floating them over a dotscreen
.text-background-body{
  background-color: white;
  padding:($baseline-grid-size / 2) 0;
}
//== Form labels
.form-label{
  font-weight: $body-light;
  color: $medblue;
}

//== Button text
.button-text{
  font-size: $button-type-size;
  line-height: $button-type-leading;
  font-family: $header-face;
  letter-spacing: rem(0.7px);
}
//== Caption text
.caption-text{
  font-size:$page-caption-text;
  line-height: $page-caption-leading;
  padding:($baseline-grid-size / 2) 4px;
  font-weight: $body-light;
  text-align: left;
}
//== paragraphs
p{
  font-size: $body-type-size;
  line-height: $body-type-leading;
  margin:0 0 ($baseline-grid-size * 3) 0;
  padding:0;
  max-width: 635px;

}

//blockquotes


blockquote{
  margin: 0 0 ($baseline) 0;
  padding: 0 0 0 16px;
  p {
    font-size: 20px;
    font-weight: $body-light;
    line-height: $baseline * 6;
    font-style: italic;
    color:$simpplerblue;

    &:last-of-type{
      margin-bottom: 0;
    }
  }
}
.quote-attribution{
  display:inline-block;
  color:$medblue;
  font-size: 14px;
  font-weight: $body-bold;
  padding: 0 0 0 16px;
  margin-bottom:$baseline * 3;
}

//== links
a{
  @include transition(color $transition-animation);
  // changed this to a bottom border and fixed line heights in paragraphs and the body
  // due to Chrome and Safari's lack of support for CSS3 text-decoration.
  border-bottom:1px dotted $link-color;
  text-decoration: none;
  color:$simpplerblue;
  font-weight: $body-bold;

  &:hover{
    color:$link-color;
  }
}
//== button
.button{
  @extend .button-text;
  padding:rem(($baseline / 2)) rem($baseline);
  margin: 0 0 rem($baseline * 2) 0;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: $simppler-border-radius;
  min-width:70px;

  &--primary{
    @extend .button;
    border-color: $simpplerblue;
    color:$simpplerblue;
    &:hover{
      color:white;
      background-color:$simpplerblue;
    }
  }
  &--secondary{
    @extend .button;
    border-color: $lightblue;
    color:$lightblue;
    &:hover{
      color:white;
      background-color:$lightblue;
    }
  }
  &--danger{
    @extend .button;
    border-color: $orange;
    color:$orange;
    &:hover{
      color:white;
      background-color:$orange;
    }
  }
  &--standout{
    @extend .button;
    border-color: $green;
    color: $green;
    &:hover{
      color:white;
      background-color:$green;
    }
  }
  &--disabled{
    @extend .button;
    border-color: rgba($drkblue,0.4);
    color: rgba($drkblue,0.4);
    &:hover{
      border-color: rgba($drkblue,0.4);
      color: rgba($drkblue,0.4);
    }
  }
}

//== Single line list
ul, ol,
.one-line-list{
  padding:0 0 0 12px;
  margin:0 0 ($baseline-grid-size * 3) 0;
}
.one-line-list, ol{
  list-style:none;
}
ul{
  list-style: square;
}

ul li,
.one-line-list__item{
  padding: 0 0 $baseline-grid-size 0;
  // NOTE: specific typeographic styles are set on each individual instance of a .one-line-list__item
}

ol{
  counter-reset: item;

}
ol li{
  padding: 0 0 $baseline-grid-size 0;
  display:block;
  &:before{
    content: counter(item) ". ";
    counter-increment: item;
    font-size: 18px;
    line-height: 24px;
    color: $simpplerblue;
  }
}
//== Button list
.button-list{
  @extend .one-line-list;
  padding:0;

  .button-list__item{
    display:inline-block;
    padding-left:rem(4px);

    &:before{
      content: '';
      width:0;
      height:0;
      margin-right:0;
    }
  }
}
.img-container img{
  width:100%;
}
//== Dropdown
.dropdown {
  margin-bottom:rem(($baseline-grid-size * 3));
  line-height: rem(($baseline-grid-size *4));

  .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center;
    border-bottom:1.5px dotted $simpplerblue;
  }
  .dropdown-button {
    background: white;
    cursor: pointer;
    float: right;
    font-size: rem(14px);
    line-height: rem(($baseline-grid-size * 4));
    margin: 0;
    padding: 0 ($dropdown-padding * 2.5) 0 rem(3px);
    position: relative;
    font-weight: $body-bold;

    &::after{
      content: url(../img/single_arrow_down_nobg.svg);
      width:rem(11px);
      display: block;
      position: absolute;
      right: $dropdown-padding;
      top: rem(3px); //Note: this value might need to be tweaked on implimentation depending on the container
    }
  }
  .dropdown-button:hover {
    background-color: $simpplerblue;
    color:white;
    font-weight: $body-bold;
  }
  .dropdown-button::after {

  }
  .dropdown-menu {
    background: white;
    border: 1.5px solid $simpplerblue;
    border-radius: 1px;
    color: $drkblue;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: rem(($baseline-grid-size * 4));
    transition: all 0.2s ease-in-out;
    width: 228px; // this is going to depend on the content in the menu
    z-index: 99999;
    text-align: left;
  }
  .dropdown-menu li {
    //border-bottom: $dropdown-inner-border;
    color: $drkblue;
    font-size:rem(13px);
    line-height: rem($baseline-grid-size * 3);
    list-style: none;
    padding: rem($baseline-grid-size * 2);
  }
  .dropdown-menu li:hover {
    background: $simpplerblue;
    color:white;
    font-weight: $body-bold;
  }
  .dropdown-menu li:first-child {
    border-top-left-radius: $simppler-border-radius;
    border-top-right-radius: $simppler-border-radius;
  }
  .dropdown-menu li:last-child {
    border: 0;
    border-bottom-left-radius: $simppler-border-radius;
    border-bottom-right-radius: $simppler-border-radius;
  }
  .show-menu {
    display: block;
  }
}

//== Page styles
@import "_nav";
@import "_footer";
@import "_how-step-module";
@import "_text-title-module";
@import "_feature-spotlight-module";
@import "_price-compare-module";
@import "_feature-compare-module";
@import "_cta-w-button-module";
@import "_full-bleed-img-module";
@import "_text-section-module";
@import "_story-w-img-module";
@import "_logo-list-module";
@import "_home-big-img-module";
@import "_home-cta-w-button-module";
@import "_quote-grid-module";
@import "_talking-point-list-module";
@import "_spacer-module";
@import "_blue-callout";
