<section>
  <div class="cta-button">
    <div class="cta-button__copy">
      {{shortcode.section.copy}}
  </div>
  <div class="cta-button__button">
    <button class="button--bigCTA" href="{{shortcode.section.button_url}}">{{shortcode.section.button_text}}</button>
  </div>
  </div>
</section>
