<section class="cta-w-button">
  <div class="cta-button">
    <div class="cta-button__copy">
      {{shortcode.section.cta_copy}}
    </div>
    <div class="cta-button__button">
      <a class="button--bigCTA" href="{{shortcode.section.cta_button_link}}" target="{{page.header.target != "" ? page.header.target : "_self"}}">{{shortcode.section.cta_button_copy}}</a>
    </div>
  </div>
</section>
