<section class="cta-w-button">
  <div class="cta-button">
    <div class="cta-button__copy">
      {{shortcode.section.cta_copy}}
  </div>
  <div class="cta-button__button">
    <button class="button--bigCTA" href="{{shortcode.section.cta_button_link}}">{{shortcode.section.cta_button_copy}}</button>
  </div>
  </div>
</section>
