<section class="feature-spotlight">
  <div class="feature-spotlight__text">
        {{ content }}
  </div>
  <div class="feature-spotlight__image">
    {{ (page.media.images|first.html )}}
  </div>

</section>
