<section class="home-big-img">
  <div class="home-big-img__container" style="background-image:url({{ (page.media.images|first.url )}})">
    <div class="home-big-img__title">
      {{content}}
    </div>
  </div>
</section>
