<section class="home-cta-button">
  <div class="home-cta-button__copy">
    {{shortcode.section.cta_copy}}
  </div>
  <div class="home-cta-button__button">
    <a class="button--homeCTA" href="{{shortcode.section.cta_button_link}}" target="{{page.header.target != "" ? page.header.target : "_self"}}">{{shortcode.section.cta_button_copy}}</a>
  </div>
</section>
