<section>
  <div class="how-it-works__step--right">
    <div class="how-it-works__step--right__text">
          {{ content }}
    </div>
    <div class="img-container how-it-works__step--right__image">
      {{ (page.media.images|first.html )}}
    </div>
  </div>
</section>
