<section class="price-compare">
  {% for tier in shortcode.section %}
    <div class="price-compare__tier">
      <h2 class="price-compare__tier__title">{{tier.name}}</h2>
      <p class="price-compare__tier__price">${{tier.price}} per user per month</p>
      <div class="price-compare__tier__features">
        {{tier}}
      </div>
    </div>
  {% endfor %}

</section>
